@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------*/
:root {
  --color-green-primary: #70c174;
  --color-green-secondary: #bef3c0;
  --color-green-tertiary: #eff7f2;
  --color-black: #0b0706;
  --color-primary-text: #1d2130;
  --color-secondary-text: #525560;
  --color-off-white: #ebf0f9;
  --color-border: #e5e5e5;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}
body.fixed {
  position: fixed;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

h1 {
  font-weight: 700;
  line-height: 120%;
  color: #fff;
  font-size: 64px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 56px;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 48px;
  }
}

.secondary-button {
  font-weight: 500;
  line-height: 19px;
  color: var(--color-primary-text);
  font-size: 16px;
  background-color: #ffffff;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 0.2s linear;
}
.secondary-button:hover {
  background-color: var(--color-border);
}

.primary-button {
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  font-size: 16px;
  background-color: #70c174;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 0.2s linear;
}
.primary-button:hover {
  background-color: #52a256;
}

.explanation-span {
  display: inline-block;
  font-weight: 700;
  line-height: 19px;
  color: var(--color-primary-text);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}
.explanation-span::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 2px;
  background-color: var(--color-primary-text);
  left: -96px;
  top: 50%;
}
@media (max-width: 768px) {
  .explanation-span::before {
    width: 36px;
    left: -48px;
  }
}
@media (max-width: 425px) {
  .explanation-span::before {
    width: 0;
    height: 0;
  }
}

.header {
  position: relative;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  background-color: transparent;
}

.navbar.active .navbar__opener span:first-child {
  transform: rotate(45deg);
}
.navbar.active .navbar__opener span:nth-child(2) {
  opacity: 0;
}
.navbar.active .navbar__opener span:last-child {
  transform: rotate(-45deg);
}
.navbar.active .navbar__list {
  right: 0;
}
.navbar__opener {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  background: none;
  z-index: 3;
}
@media (max-width: 768px) {
  .navbar__opener {
    display: block;
  }
}
.navbar__opener span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
  transition: transform 0.2s linear, opacity 0.2s linear;
}
.navbar__opener span:first-child {
  transform: translateY(-10px);
}
.navbar__opener span:last-child {
  transform: translateY(10px);
}
.navbar__list {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar__list {
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: #fff;
    padding: 70px 30px 30px;
    z-index: 2;
    transition: right 0.2s linear;
  }
}
.navbar__link {
  font-weight: 500;
  line-height: 19px;
  color: var(--color-secondary-text);
  font-size: 16px;
  transition: color 0.2s linear;
}
.navbar__link:hover {
  color: var(--color-black);
}
.navbar__link.active {
  color: var(--color-black);
}
.navbar__btn {
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  background-color: var(--color-primary-text);
  font-size: 16px;
  padding: 12px 32px;
  border-radius: 4px;
  transition: background-color 0.2s linear;
}
.navbar__btn:hover {
  background-color: var(--color-black);
}

.hero {
  background: url("../images/hero/hero__bg.png") center no-repeat;
}
.hero__body {
  padding: 128px 0 64px;
}
@media (max-width: 768px) {
  .hero__body {
    padding: 32px 16px;
  }
}
.hero__main {
  max-width: 640px;
}
.hero__title {
  margin-bottom: 48px;
}
.hero__btn-cnt {
  display: inline-flex;
  gap: 24px;
  margin-bottom: 192px;
}
@media (max-width: 425px) {
  .hero__btn-cnt {
    flex-direction: column;
    margin-bottom: 96px;
  }
}
.hero__btn_2 {
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  font-size: 16px;
  padding-left: 32px;
  background-color: transparent;
  position: relative;
  transition: color 0.2s linear;
}
.hero__btn_2 span {
  transition: background-color 0.2s linear;
}
.hero__btn_2:hover {
  color: var(--color-border);
}
.hero__btn_2:hover span::after {
  background-color: var(--color-border);
}
.hero__btn_2 span::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../images/global-images/triangle.svg") 8px 50% no-repeat, #fff;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hero__achievements-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 24px;
}
.hero__achievements-cnt::after {
  content: "";
  background-color: var(--color-border);
  height: 1px;
  flex: 1;
}
.hero__achievement {
  font-weight: 500;
  line-height: 21px;
  color: #fff;
  font-size: 18px;
}
@media (max-width: 425px) {
  .hero__achievement {
    font-size: 12px;
  }
}
.hero__achievement:last-child {
  order: 3;
}

.nature__body {
  padding: 96px 0 64px;
}
.nature__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}
.nature__content {
  max-width: 600px;
  padding-left: 96px;
}
@media (max-width: 768px) {
  .nature__content {
    padding-left: 48px;
  }
}
@media (max-width: 425px) {
  .nature__content {
    padding-left: 0;
  }
}
.nature__explanation-span {
  margin-bottom: 32px;
}
.nature__title {
  font-weight: 700;
  line-height: 120%;
  color: var(--color-primary-text);
  font-size: 48px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .nature__title {
    font-size: 40px;
  }
}
.nature__text {
  margin-bottom: 64px;
}
.nature__text p {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 40px;
}
.nature__text p:last-child {
  margin-bottom: 0;
}
.nature__image {
  position: relative;
  border-radius: 12px;
}
.nature__image::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  background: url("../images/global-images/big-triangle.svg") center no-repeat, #fff;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.nature__image:hover::after {
  background-color: var(--color-border);
  cursor: pointer;
}
.nature__image img {
  max-width: 480px;
}
@media (max-width: 1024px) {
  .nature__image {
    display: none;
  }
}
.nature__secondary-title {
  font-weight: 500;
  line-height: 19px;
  color: var(--color-primary-text);
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.nature__secondary-title::after {
  content: "";
  background-color: var(--color-border);
  height: 1px;
  flex: 1;
}
.nature__supporters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 40px;
}

.earth {
  background-color: var(--color-green-tertiary);
}
.earth__body {
  padding: 96px 0;
  display: flex;
  justify-content: space-between;
}
.earth__content {
  max-width: 600px;
  padding-left: 96px;
}
@media (max-width: 768px) {
  .earth__content {
    padding-left: 48px;
  }
}
@media (max-width: 425px) {
  .earth__content {
    padding-left: 0;
  }
}
.earth__explanation-span {
  margin-bottom: 32px;
}
.earth__title {
  font-weight: 700;
  line-height: 120%;
  color: var(--color-primary-text);
  font-size: 48px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .earth__title {
    font-size: 40px;
  }
}
.earth__text {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 32px;
}
.earth__list {
  border-left: 1px solid var(--color-border);
}
.earth__elem {
  margin: 0 0 24px 30px;
  position: relative;
  padding-left: 52px;
}
.earth__elem:last-child {
  margin-bottom: 0;
}
@media (max-width: 425px) {
  .earth__elem {
    padding-left: 40px;
    margin: 0 0 24px 15px;
  }
}
.earth__icon {
  background-color: #83d187;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
}
.earth__list-title {
  font-weight: 700;
  line-height: 28px;
  color: var(--color-primary-text);
  font-size: 24px;
}
.earth__list-text {
  font-size: 16px;
  line-height: 160%;
}
.earth__image {
  border-radius: 12px;
}
@media (max-width: 1024px) {
  .earth__image {
    display: none;
  }
}