@import './style.scss';

// Hero

.hero {
  background: url('../images/hero/hero__bg.png') center no-repeat;

  &__body {
    padding: 128px 0 64px;

    @media (max-width: 768px) {
      padding: 32px 16px;
    }
  }

  &__main {
    max-width: 640px;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__btn-cnt {
    display: inline-flex;
    gap: 24px;
    margin-bottom: 192px;

    @media (max-width: 425px) {
      flex-direction: column;
      margin-bottom: 96px;
    }
  }

  &__btn_2 {
    @include textProperties(500, 19px, #fff);
    font-size: 16px;

    padding-left: 32px;
    background-color: transparent;
    position: relative;
    transition: color 0.2s linear;

    span {
      transition: background-color 0.2s linear;
    }

    &:hover {
      color: var(--color-border);
    }

    &:hover span::after {
      background-color: var(--color-border);
    }

    span::after {
      content: '';
      width: 24px;
      height: 24px;

      background: url('../images/global-images/triangle.svg') 8px 50% no-repeat, #fff;
      border-radius: 50%;
      backdrop-filter: blur(40px);

      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__achievements-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 24px;

    &::after {
      content: '';
      background-color: var(--color-border);
      height: 1px;
      flex: 1;
    }
  }

  &__achievement {
    @include textProperties(500, 21px, #fff);
    font-size: 18px;

    @media (max-width: 425px) {
      font-size: 12px;
    }

    &:last-child {
      order: 3;
    }
  }
}

// Nature

.nature {
  &__body {
    padding: 96px 0 64px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }

  &__content {
    max-width: 600px;
    padding-left: 96px;

    @media (max-width: 768px) {
      padding-left: 48px;
    }

    @media (max-width: 425px) {
      padding-left: 0;
    }
  }

  &__explanation-span {
    margin-bottom: 32px;
  }

  &__title {
    @include textProperties(700, 120%, var(--color-primary-text));
    font-size: 48px;

    margin-bottom: 32px;

    @media (max-width: 768px) {
      font-size: 40px;
    }
  }

  &__text {
    margin-bottom: 48px;

    p {
      @include paragraph(var(--color-secondary-text));
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    position: relative;
    border-radius: 12px;

    &::after {
      content: '';
      position: absolute;
      width: 64px;
      height: 64px;

      background: url('../images/global-images/big-triangle.svg') center no-repeat, #fff;
      border-radius: 50%;
      backdrop-filter: blur(40px);

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover::after {
      background-color: var(--color-border);
      cursor: pointer;
    }

    img {
      max-width: 480px;
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__secondary-title {
    @include textProperties(500, 19px, var(--color-primary-text));
    font-size: 16px;

    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 24px;

    &::after {
      content: '';
      background-color: var(--color-border);
      height: 1px;
      flex: 1;
    }
  }

  &__supporters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
  }
}

// Earth

.earth {
  background-color: var(--color-green-tertiary);

  &__body {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 600px;
    padding-left: 96px;

    @media (max-width: 768px) {
      padding-left: 48px;
    }

    @media (max-width: 425px) {
      padding-left: 0;
    }
  }

  &__explanation-span {
    margin-bottom: 32px;
  }

  &__title {
    @include textProperties(700, 120%, var(--color-primary-text));
    font-size: 48px;
    margin-bottom: 16px;

    @media (max-width: 768px) {
      font-size: 40px;
    }
  }

  &__text {
    @include paragraph(var(--color-secondary-text));
    color: var(--color-secondary-text);
    margin-bottom: 32px;
  }

  &__list {
    border-left: 1px solid var(--color-border);
  }

  &__elem {
    margin: 0 0 24px 30px;
    position: relative;
    padding-left: 52px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 425px) {
      padding-left: 40px;
      margin: 0 0 24px 15px;
    }
  }

  &__icon {
    background-color: #83d187;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
  }

  &__list-title {
    @include textProperties(700, 28px, var(--color-primary-text));
    font-size: 24px;
  }

  &__list-text {
    @include paragraph(var(--color-secondary-text));
    color: var(--color-secondary-text);
  }

  &__image {
    border-radius: 12px;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}

// Society

.society {
  &__body {
    padding: 96px 0;
  }

  &__content {
    max-width: 705px;
    padding-left: 96px;
    margin-bottom: 64px;

    @media (max-width: 768px) {
      padding-left: 48px;
    }

    @media (max-width: 425px) {
      padding-left: 0;
    }
  }

  &__explanation-span {
    margin-bottom: 32px;
  }

  &__title {
    @include textProperties(700, 120%, var(--color-primary-text));
    font-size: 48px;

    @media (max-width: 768px) {
      font-size: 40px;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media (max-width: 1090px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__card {
    max-width: 411px;
    padding: 80px 48px 48px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--color-black);
      top: 0;
      left: 0;
      opacity: 0.5;
    }

    &:nth-child(1) {
      background: url('../images/society/card-1.jpg') center no-repeat;
    }

    &:nth-child(2) {
      background: url('../images/society/card-2.jpg') center no-repeat;
    }

    &:nth-child(3) {
      background: url('../images/society/card-3.jpg') center no-repeat;
    }

    @media (max-width: 768px) {
      padding: 40px 24px 24px;
    }
  }

  &__card-title {
    @include textProperties(700, 150%, #fff);
    font-size: 28px;
    position: relative;
    margin-bottom: 16px;
  }

  &__card-text {
    @include paragraph(#fff);
    position: relative;
    margin-bottom: 64px;
  }
}

// Stats

.stats {
  background-color: var(--color-black);

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0;
    margin-bottom: 96px;
  }

  &__content {
    max-width: 611px;

    @media (max-width: 1024px) {
      margin: 0 auto;
    }
  }

  &__title {
    @include textProperties(700, 120%, #fff);
    font-size: 48px;
    margin-bottom: 16px;

    @media (max-width: 768px) {
      font-size: 40px;
    }
  }

  &__text {
    @include paragraph(#fff);
    opacity: 0.6;
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

    &__item span:nth-child(1) {
      background-color: red;
    }
  }

  &__item {
    @include textProperties(500, 160%, #fff);
    font-size: 16px;
    position: relative;
    padding-left: 24px;

    span {
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: none;
      left: 0;
      top: 5px;
      border-radius: 4px;
    }

    &:nth-child(1) span {
      background-color: #bef3c0;
    }
    &:nth-child(2) span {
      background-color: #ac94f1;
    }
    &:nth-child(3) span {
      background-color: #fff0ca;
    }
    &:nth-child(4) span {
      background-color: #f9cf64;
    }
    &:nth-child(5) span {
      background-color: #f38fbf;
    }
  }

  &__image {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

// Volunteer

.volunteer {
  &__body {
    background: url('../images/volunteer/volunteer__bg.jpg') center no-repeat;
    padding: 93px 0 92px;
    text-align: center;
    border-radius: 12px;
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
      padding: 46px 0 46px;
    }

    @media (max-width: 425px) {
      padding: 23px 0 23px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: 100%;
      top: 0;
      left: 0;
      background-color: var(--color-black);
      opacity: 0.5;
      z-index: 1;
    }
  }

  &__content {
    max-width: 631px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding: 0 5px;
  }

  &__title {
    @include textProperties(700, 120%, #fff);
    font-size: 48px;
    margin-bottom: 32px;

    @media (max-width: 768px) {
      font-size: 40px;
    }

    @media (max-width: 425px) {
      font-size: 32px;
    }
  }

  &__btns {
    display: inline-flex;
    justify-content: center;
    gap: 32px;

    @media (max-width: 425px) {
      flex-direction: column;
      gap: 16px;
    }
  }
}

// News

.news {
  &__body {
    padding: 96px 0;
  }

  &__title {
    @include textProperties(500, 140%, var(--color-primary-text));
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 48px;

    &::after {
      content: '';
      background-color: var(--color-border);
      height: 1px;
      flex: 1;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
    grid-gap: 24px;
  }

  &__card {
    max-width: 302px;

    img {
      margin-bottom: 16px;
    }

    h3 {
      @include textProperties(500, 150%, var(--color-black));
      font-size: 20px;
      margin-bottom: 8px;
    }

    p {
      @include paragraph(var(--color-secondary-text));
    }
  }
}
